localai-models/**
!localai-models/.keep
!localai-models/gpt-3.5-turbo.yaml

text-generation-webui-config/characters/*
!text-generation-webui-config/characters/Assistant.png
!text-generation-webui-config/characters/Assistant.yaml

text-generation-webui-config/extensions/*
text-generation-webui-config/loras/*
text-generation-webui-config/presets/*
text-generation-webui-config/prompts/*
text-generation-webui-config/models/*

docs/backstagecon-talk-notes.md