localai-models/**
!localai-models/.keep
!localai-models/gpt-3.5-turbo.yaml

text-generation-webui-config/**
!text-generation-webui-config/.keep
!text-generation-webui-config/characters
!text-generation-webui-config/characters/Assistant.png
!text-generation-webui-config/characters/Assistant.yaml
!text-generation-webui-config/settings.yaml
